* {
  margin: 0;
  padding: 0;
}
nav { 
  display: flex;
  flex-direction: column;
}
.menu{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: aquamarine;
}
.enlaces-superior{ 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 200px;
  
}
li {
  list-style: none;
  padding: 10px;
}
.menu-2{ 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  padding-right: 320px;
  
}
.item-carrito{
  margin-right: 10px;
}
.buscador{ 
  display: flex;
  flex-direction: row;
}
#buscador{ 
  height: 18px;
}
#boton-buscar{ 
  height: 22px;
}
.menu-4{ 
  display: flex;
  flex-direction: row;
  padding: 0px 120px;
}

.enlaces-inferior{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 justify-content: center;
}
#boton-navegador button { 
  width: 80px;
  height: 40px;

}
#boton-navegador { 

  padding: 0px;
}
.menu-5{ 

  display: flex;
  flex-direction: row;
  justify-content: center;

}
.nav-enlaces{
  margin-right: 10px;
}
main{
  padding: 0px 120px;
  
}
.contenido-principal{ 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
  

}
.enlaces-principal{ 
  border-style: groove;
}
.enlaces-principal li{ 
  width: 222px;
  text-align: center;
  font-size: large;
}
.imagen-principal{
 flex: 1;
}
.noticias{ 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
}
.imagen-noticia{
  margin-right: 180px;
  height: 300px;
  
}
.imagen-noticia img{
  width: 245px;
  height: 300px;
  justify-content: center;
  align-items: center;
}
.descripcion-noticia{
  flex: 1;
}
.titulo-social{
  border-style: solid;
  margin-bottom: 5px;
}
.seccion-productos{ 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
}
.social-media{
  
  width: 248px;
  margin-right: 10px;
}
.productos { 
  flex: 1;

}
.like{
  display: flex;
  flex-direction: row;
  margin: 8px 15px;

}
.logo-producto{
  display: flex;
  flex-direction: row;
  border-style: solid;
}
.cuerpo-media{ 
  display: flex;
  flex-direction: column;
  border-style: solid;
}
.amigos-like{
  border-style: solid;
  margin: 8px 15px;
}
.list-friends{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.list-social{ 
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.list-productos{ 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.titulo-producto{
  text-align: center;
  margin: 10px;
}
.decripcion-producto{
  margin: 10px;
}
.texto-producto{
  margin: 5px;
}
.list-productos article{ 
  /* padding: 30px; */
  width: 170px;
  /* margin: 0px 5px; */
  border-style: solid;

}
.decripcion-producto{ 
  display: flex;
  flex-direction: column;
  text-align: center;
}
.botones-producto {
  display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
}
.botones-producto button{
 margin: 10px 5px;
}
.imagen-producto{ 
  margin: 10px;
}
.texto-footer{ 
  text-align: center;
  padding: 30px;
  background-color: aquamarine;
}